{% extends "base.html" %}
{% block content %}
<h2>🖼️ Retro Image Gallery</h2>
<div class="gallery">
    <img src="hhttps://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGZqN2Vxb2Rlem50ZzhvdzFzaXV0OXdjNTRma2s2NzUzOWoxNmlicyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1dJWnCZBCE7gcFwLvk/giphy.gif" alt="retro 1">
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbno3NHRxejEzZWRldTN3NHdydzZ2cHVtNHkxaHk1MDBmeGUwYngwYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5dYiWM1Pm8HMLHVG0Z/giphy.gif" alt="retro 2">
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjd3aGw2aDhtZWsyYjQ3cHkxZDB5ZzI0bzRzbXVybDFpbzVwMWo1OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zDNNQzeAotyGQ/giphy.gif" alt="retro 3">
</div>
{% endblock %}
